{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
{{ news_page.author.user.username|upper }}
{% endblock title %}

{% block undertitle %}
Reporting The Right News
{% endblock undertitle %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p class="post-meta">
            Posted by <a href="#">{{ news_page.author.user.username }}</a>
            {{ news_page.publication_date|date:'d.m.Y' }}
            </p>
            <!-- Two buttons "Edit" and "Delete". Links change based on what type a post is - news or article -->
            {% if request.user|in_group:"authors" %}
                <button onclick="location.href='http://127.0.0.1:8000/{{ news_page.type|type_into_word }}/{{ news_page.pk }}/edit';"
                        type="button" class="btn btn-outline-secondary">
                    Edit
                </button>
            {% endif %}

            {% if request.user|in_group:"authors" %}
                <button onclick="location.href='http://127.0.0.1:8000/{{ news_page.type|type_into_word }}/{{ news_page.pk }}/delete';"
                        type="button" class="btn btn-outline-secondary">
                    Delete
                </button>
            {% endif %}

            <h1>{{ news_page.title|censor }}</h1>
            {{ news_page.content|censor }}
        </div>
    </div>
</div>

{% endblock content %}