{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
NEWS SEARCH
{% endblock title %}

{% block undertitle %}
Find our news, before our news find you!
{% endblock undertitle %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form action="" method="get">
                {{ filterset.form.as_p }}
                <input type="submit" value="Search" />
            </form>
            <h3>Newest news by newest date: </h3>
            Found total: {{ page_obj.paginator.count }} news
            {% for news in search_news_list %}
                <div class="post-preview">
                    <a href="http://127.0.0.1:8000/news/{{ news.pk }}">
                        <h2 class="post-title">
                            {{ news.title|censor }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ news.content|truncatewords:20|censor }}
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by <a href="#">{{ news.author.user.username }}</a>
                        {{ news.publication_date|date:'d.m.Y' }}
                    </p>
                </div>
                <hr>
            {% empty %}
                <h1>No news, yet! Hold on</h1>
                <hr>
            {% endfor %}

            <!-- Pagination -->
           <nav aria-label="Page navigation example">
               <ul class="pagination">
                   {% if page_obj.has_previous %}
                         <li class="page-item">
                             <a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">Previous</a>
                         </li>
                         <li class="page-item">
                             <a class="page-link" href="?{% url_replace page=1 %}">1</a>
                         </li>
                        {% if page_obj.previous_page_number != 1 %}
                          <li class="page-item"><a class="page-link" href="?{% url_replace page='#' %}">...</a></li>
                          <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">
                                                {{ page_obj.previous_page_number }}</a></li>
                        {% endif %}
                   {% endif %}
                     <li class="page-item"><a class="page-link" href="?{% url_replace page='#' %}">{{ page_obj.number }}</a></li>
                   {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">
                                {{ page_obj.next_page_number }}</a>
                        </li>
                        {% if paginator.num_pages != page_obj.next_page_number %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace page='#' %}">...</a></li>
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.paginator.num_pages %}">
                                {{ page_obj.paginator.num_pages }}</a></li>
                        {% endif %}
                   {% endif %}
                   {% if page_obj.has_next %}
                     <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">Next</a></li>
                   {% endif %}
               </ul>
           </nav>

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}